<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\LogsProd\Internal\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- [FILE] Target for all log messages with basic details -->
		<target xsi:type="File"
				name="systemLogs"
				fileName="..\..\..\LogsProd\System\${shortdate}_system.txt"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- [FILE] Target for own log messages with extra web details using some ASP.NET core renderers -->
		<target xsi:type="File"
				name="apiLogs"
				fileName="..\..\..\LogsProd\Api\${shortdate}_api.txt"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- [CONSOLE] Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console"
				name="lifetimeConsole"
				layout="${MicrosoftConsoleLayout}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--ALL LOGS -->
		<logger name="*"
				minlevel="Trace"
				writeTo="systemLogs" />

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime"
				minlevel="Info"
				writeTo="lifetimeConsole"
				final="true" />

		<!--API LOGS - just essential messages-->

		<!--CONTENTS: Executed DbCommand (time) , Opening connection , Closing connection-->
		<logger name="Microsoft.EntityFrameworkCore.Database.*" minlevel="Debug" writeTo="apiLogs" final="true" />

		<!--CONTENTS: 'ShopOnlineContext' disposed -->
		<logger name="Microsoft.EntityFrameworkCore.Infrastructure" minlevel="Debug" writeTo="apiLogs" final="true" />

		<!--CONTENTS: Compiling query , Generated query -->
		<logger name="Microsoft.EntityFrameworkCore.Query" minlevel="Debug" writeTo="apiLogs" final="true" />

		<!--CONTENTS: Validation state , Executed action (time) -->
		<logger name="Microsoft.AspNetCore.Mvc.Infrastructure.*" minlevel="Info" writeTo="apiLogs" final="true" />

		<!--CONTENTS: Request starting (time) , Request finished (time) -->
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Info" writeTo="apiLogs" final="true" />

		<!--CONTENTS: All hosts are allowed -->
		<logger name="Microsoft.AspNetCore.HostFiltering.HostFilteringMiddleware" minlevel="Trace" writeTo="apiLogs" final="true" />

		<!--CONTENTS: Request matched endpoint , Request did not match any endpoints -->
		<logger name="Microsoft.AspNetCore.Routing.EndpointRoutingMiddleware" minlevel="Debug" writeTo="apiLogs" final="true" />

		<!--CONTENTS: Executed endpoint-->
		<logger name="Microsoft.AspNetCore.Routing.EndpointMiddleware" minlevel="Info" writeTo="apiLogs" final="true" />

		<logger name="eShopOnline*" minlevel="Info" writeTo="apiLogs" final="true" />

		<logger name="*" minlevel="Info" writeTo="apiLogs" final="true" />

	</rules>
</nlog>